* {
  margin: 0;
  padding: 0;
  font-family: "microsoft jhenghei", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: justify;
  list-style: none;
}

body {
  background: #ffffff80;
}

.wrapper {
  width: 960px;
  margin: auto;
}

.title h2 {
  text-align: center;
  font-size: 35px;
  color: #666;
  position: relative;
  margin: 50px 0;
}

.title h2:before {
  content: "";
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantage .advantage-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage .advantage-tabs a {
  width: 184px;
  height: 36px;
  border: 1px dotted #000;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: #000;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

.advantage .advantage-tabs a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .1s .1s;
  transition: .1s .1s;
}

.advantage .advantage-tabs a::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #ae0014;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.advantage .advantage-tabs a:hover::before {
  height: 100%;
}

.advantage .advantage-tabs a:hover span {
  color: #fff;
}

.advantage .advantage-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage .advantage-list .advantage-list-item {
  position: relative;
  height: 80vh;
  margin: 100px 0 150px 0;
}

.advantage .advantage-info,
.advantage .advantage-pic,
.advantage .advantage-colorlump,
.advantage .advantage-colorlump-lg,
.advantage .advantage-revolution {
  position: relative;
}

.advantage .advantage-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 355px;
}

.advantage .advantage-info .info-topic {
  background: #ae0014;
  height: 140px;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage .advantage-info .info-topic span {
  position: relative;
}

.advantage .advantage-info .info-topic span.rotate-word {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 115px;
  left: -6%;
}

.advantage .advantage-info .info-topic span.normal-word {
  font-size: 55px;
  right: 5%;
}

.advantage .advantage-info .info-content {
  color: #eee;
  background: #000;
  padding: 25px 20px 20px 25px;
}

.advantage .advantage-info .info-content h2 {
  letter-spacing: 1px;
  line-height: 1.7;
}

.advantage .advantage-info .info-content p {
  line-height: 1.7;
  font-size: 20px;
}

.advantage .advantage-colorlump {
  width: 439px;
  height: 290px;
  background: #eee;
}

.advantage .advantage-colorlump-lg {
  width: 518px;
  height: 413px;
  background: #eee;
}

.advantage .advantage-pic {
  width: 695px;
  height: 430px;
}

.advantage .advantage-pic span {
  display: block;
  width: 60px;
  height: 40px;
  background: #ae0014;
  position: relative;
}

.advantage .advantage-pic span:before {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-11%, -50%);
          transform: translate(-11%, -50%);
  border-left: 20px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: block;
}

.advantage .advantage-pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.advantage .advantage-revolution {
  background: #ddd;
  width: 650px;
  padding: 20px 25px;
}

.advantage .advantage-revolution p.revolution-banner {
  color: #ae0014;
  font-weight: 900;
  position: relative;
}

.advantage .advantage-revolution p.revolution-banner:after {
  content: "";
  width: 70%;
  height: 2px;
  display: inline-block;
  background: #ae0014;
  position: relative;
  top: -3px;
  right: -6px;
}

.advantage .advantage-revolution .advantage-revolution-item {
  margin: 5px 0;
}

.advantage .advantage-revolution .advantage-revolution-item p.revolution-subtitle {
  display: inline-block;
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 2px 5px;
}

.advantage .advantage-revolution .advantage-revolution-item p.revolution-content {
  font-size: 14px;
  margin-top: 5px;
  line-height: 1.4;
  margin-left: 20px;
  text-indent: -5px;
}

.advantage .advantage-revolution .advantage-revolution-item p.revolution-content:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 4px;
  height: 4px;
  background: #ae0014;
  top: -3px;
  left: -5px;
}

.advantage .advantage-list-item:nth-child(odd) .advantage-info {
  top: -10px;
  left: 0;
  z-index: 1;
}

.advantage .advantage-list-item:nth-child(odd) .advantage-colorlump {
  top: -126%;
  right: -520px;
  z-index: -1;
}

.advantage .advantage-list-item:nth-child(odd) .advantage-revolution {
  top: -91%;
  left: 8%;
  z-index: 1;
}

.advantage .advantage-list-item:nth-child(odd) .advantage-pic {
  top: -38%;
  left: 19%;
}

.advantage .advantage-list-item:nth-child(odd) .advantage-pic span {
  top: -55%;
  right: -93%;
}

.advantage .advantage-list-item:nth-child(even) .advantage-info {
  right: -63%;
  top: 47px;
  z-index: 1;
}

.advantage .advantage-list-item:nth-child(even) .advantage-info .info-topic span.rotate-word {
  right: -69%;
  left: auto;
}

.advantage .advantage-list-item:nth-child(even) .advantage-info .info-topic span.normal-word {
  left: -30%;
}

.advantage .advantage-list-item:nth-child(even) .advantage-colorlump-lg {
  top: -114%;
  right: -29%;
  z-index: -1;
}

.advantage .advantage-list-item:nth-child(even) .advantage-revolution {
  top: -103%;
  right: -309px;
}

.advantage .advantage-list-item:nth-child(even) .advantage-pic {
  left: 1%;
  top: -174px;
}

.advantage .advantage-list-item:nth-child(even) .advantage-pic span {
  left: -1%;
  top: -53%;
}

.advantage .advantage-list-item:nth-child(3) .advantage-info {
  top: 22px;
}

.advantage .advantage-list-item:nth-child(4) .advantage-info {
  top: 13%;
}
/*# sourceMappingURL=all.css.map */