@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  font-family: "Noto San TC", sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

div[class*="_title"] h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

header {
  padding: 8px 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid #dfdfdf;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-size: 20px;
  margin: 0 16px 0 0;
  padding: 5px 0;
}

header nav .logo a h1 {
  font-size: 0;
}

header nav .logo a h1 img {
  width: 100px;
}

header nav .menu {
  margin-left: auto;
}

header nav .menu .menu-btn {
  padding: 4px 12px;
  font-size: 20px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  color: #838383;
  display: none;
}

header nav .menu .header-menu {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu a {
  display: block;
  padding: 8px 10px;
  color: #838383;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav .menu a:hover {
  color: #000;
  letter-spacing: 1px;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.4))), url("../images/banner-bg.jpg") no-repeat fixed center center/100% 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)), url("../images/banner-bg.jpg") no-repeat fixed center center/100% 100%;
  height: calc(100vh - 84.96px);
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.banner .banner-pics,
.banner .banner-form {
  width: 50%;
  height: 100%;
}

.banner .banner-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner-pics .banner-pic-list {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner .banner-pics .banner-pic-list .banner-pic-item {
  width: 200px;
  height: 200px;
  position: relative;
}

.banner .banner-pics .banner-pic-list .banner-pic-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.banner .banner-pics .banner-pic-list .banner-pic-item:nth-child(1) {
  -webkit-transform: translate(50px, 18px) scale(2);
          transform: translate(50px, 18px) scale(2);
}

.banner .banner-pics .banner-pic-list .banner-pic-item:nth-child(2) {
  -webkit-transform: translate(-45px, 220px);
          transform: translate(-45px, 220px);
}

.banner .banner-pics .banner-pic-list .banner-pic-item:nth-child(3) {
  -webkit-transform: translate(-4px, 20px) scale(0.5);
          transform: translate(-4px, 20px) scale(0.5);
}

.banner .banner-pics .banner-pic-list .banner-pic-item:nth-child(4) {
  -webkit-transform: translate(-306px, -83px) scale(0.5);
          transform: translate(-306px, -83px) scale(0.5);
}

.banner .banner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-form form {
  margin: auto;
  width: 70%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 15px;
}

.banner .banner-form form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-bottom: 24px;
}

.banner .banner-form form .input-group label {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.banner .banner-form form .input-group label i:first-of-type {
  margin-right: 5px;
}

.banner .banner-form form .input-group label i:last-of-type {
  margin-left: 5px;
}

.banner .banner-form form .input-group input {
  padding: 6px 0;
}

.banner .banner-form form .input-group input:focus {
  outline: #a6d49c 1px solid;
}

.banner .banner-form form .input-group input[type="submit"] {
  border: 0;
  margin-top: 5px;
  padding: 10px 0;
  cursor: pointer;
  background: #accaa5;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner .banner-form form .input-group input[type="submit"]:hover {
  background: #a6d49c;
}

.process {
  background: #a6d49c;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: #fff;
}

.process .process-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.process .process-steps .process-step {
  width: 25%;
  text-align: center;
}

.process .process-steps .process-step p {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  font-weight: 500;
}

.process .process-steps .process-step .process-step_pic svg {
  -webkit-transform: scale(4);
          transform: scale(4);
  margin: 20px 0 50px;
}

.process .process-steps .process-step .process-step_pic svg path {
  fill: #fff;
}

.about {
  margin-bottom: 50px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .about_txt, .about .container .about_pic {
  width: 50%;
}

.about .container .about_pic img {
  height: 600px;
  display: block;
  margin: auto;
}

.about .container .about_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .about_txt a {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #a6d49c;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.about .container .about_txt a:hover {
  background: #accaa5;
}

.page-footer {
  padding: 48px 0 20px;
  background: #3d4143;
  text-align: center;
  color: #cfcfcf;
}

.page-footer ul {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer a {
  color: #fff;
  display: block;
  padding: 8px;
}

.page-footer a:hover {
  color: #cfcfcf;
}

.page-footer .footer-menu {
  margin-bottom: 20px;
}

.page-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

.page-footer .footer-logo {
  text-align: left;
  font-size: 20px;
}

.page-footer .footer-logo a:hover {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 940px;
  }
  .story {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 830px;
  }
  .story {
    width: 100%;
  }
  .story .story-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 880px) {
  .container {
    max-width: 600px;
  }
  .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items .item {
    width: 100% !important;
    margin: 10px;
  }
  .signup-content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .header-menu {
    display: block !important;
    position: absolute;
    background: #fff;
    left: 0;
    top: 100%;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    padding: 8px 0;
  }
  .header-menu li {
    padding: 0 20px;
  }
  .header-menu .menu-btn {
    display: block !important;
  }
  .banner {
    padding-top: 80px;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content ul {
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
  .story-img {
    margin: 0 auto;
    width: 90%;
  }
  .sign-form {
    width: 100%;
  }
}
/*# sourceMappingURL=all.css.map */